@import url(font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600');


/*-------------[ HTML e Body ]-------------*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	height: 100%;
	font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.clear{
	clear: both;
}

.center{
	max-width: 1550px;
	width: 100%;
	margin: 0 auto;

}/*-------------[ HTML e Body ]-------------*/



/*-------------[ Header ]-------------*/
.header {
	width: 100%;
	height: 88px;
	padding: 30px 2%;
	background-color: #212121;
	z-index: 99999 !important;
	position: fixed;
	align-items: center;
}

.btn-logo {
	font-size: 16px;
	position: absolute;
	float: left;
	margin-left: 80px;
	margin-top: 2px;
}

.btn-logo button {
	font-size: 20px;
	color: #c7c7c7;
}

.btn-logo button:hover{
	color: #fff;
}

@media (max-width: 700px) {
	#contacts {
		display: none;
	}
}

@media (max-width: 500px) {
	#logo {
		margin-left: 20px;
		margin-right: 20px;
	}
}

@media (max-width: 600px) {
	#logo {
		display: none;
	}
}

.intro {
	text-align: center;
	margin-bottom: 4rem;
}

.intro p {
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
	color: #333333;
	margin-top: 20px;
	font-size: 17px;
}

.intro h2 {
	font-size: 30px;
	color: #333333;
}

.menu-opt h1 {
	text-align: center;
	margin: 80px 0;
}

.menu-opt ul {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0;
	position: absolute;
}

.menu-opt li:not(:last-child) {
	margin-right: 20px;
}

.menu-opt a {
	display: block;
	font-size: 16px;
	color: #c7c7c7;
	text-decoration: none;
	padding: 7px 15px;
}

.menu-opt a,
.target {
	transition: all .35s ease-in-out;
}

.menu-opt a:hover {
	color: white;
}

.user-enter{
	float: right;
	margin: 1px 20px 0;
	display: flex;
	flex-direction: row;
	width: auto;
}

.user-enter a:last-child{
	text-decoration: none;
	font-size: 15px;
	padding: 0 7px;
	background-color: #E0E0E0;
	color: black;
	border-radius: 5px;
}

.up-arrow {
	text-align: center;
	overflow: hidden;
	max-height: 350px;
	transition: max-height 0.4s ease-in-out;
	width: 335px;
	background-color: #e2e2e2;
	font-size: 15px;
	border-radius: 17px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	object-position: center;
	position: relative;
	float: right;
}

.up-arrow.hide {
	max-height: 0;
	pointer-events: none;
}

@media (max-width: 1180px) {
	.up-arrow {
		width: 350px;
	}
}

@media (max-width: 1024px) {
	.up-arrow {
		margin-right: 0;
	}
}

@media (max-width: 768px) {
	.up-arrow {
		margin-right: 0;
	}
}

@media (max-width: 700px) {
	.up-arrow {
		display: none;
	}
}

.introduction h1{
	display: flex;
	text-align: center;
	justify-content: center;
	z-index: 2;
	position: absolute;
	top: 27%;
	left: 36%;
	font-size: 54px;
	color: #fff;
	text-shadow: 8px 8px 10px black;
}

.introduction p{
	display: flex;
	text-align: center;
	justify-content: center;
	z-index: 2;
	position: absolute;
	font-size: 22px;
	color: #fff;
	align-items: center;

}/*-------------[ Header ]-------------*/



/*-------------[ Container Center/Inner ]-------------*/
.container-center{
	max-width: 1550px;
	width: 100%;
	margin: 0 auto;
	padding-top: 80px;
}

.container-inner{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	height: 100%;
}

.inner{
	width: 400px;
	height: 450px;
	background-color: #ffffff;
	margin: 25px;
	padding: 35px 23px 35px 23px;
	opacity: 1;
	border-radius: 8px;
	transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
	box-shadow: 0 0 4px #fff, 0 0 4px #c7c7c7;
}

.inner p {
	color: #333333;
}

.inner h3 {
	color: #333333;
}

@media (max-width: 900px) {
	.inner {
		width: 350px;
		margin: 10px;
	}
}
@media (max-width: 768px) {
	.inner {
		width: 100%;
		height: 400px;
	}
	.intro {
		margin: 0 0 50px 0;
	}
}

.inner:hover{
	transition: 0.5s;
	opacity: 1;
	border-radius: 8px;
	box-shadow: 0 0 13px #fff, 0 0 13px #9e9e9e;
	background: -webkit-linear-gradient(left, #e6ffff, #b3e5fc);
}

.inner-img {
	width: 100px;
}

.card-title{
	padding: 70px 0 10px;

}/*-------------[ Container Center/Inner ]-------------*/



/*-------------[ PIC Logo ]-------------*/
.contact1-pic {
	justify-content: center;
	width: 380px;
	margin: auto;
}

.contact1-pic img {
	max-width: 100%;
}

@media (max-width: 1280px) {
	.contact1-pic {
		width: 33.5%;
	}
}

@media (max-width: 992px) {

	.contact1-pic {
		width: 35%;
	}
}

@media (max-width: 768px) {

	.contact1-pic {
		width: 30%;
	}

}/*-------------[ PIC Logo ]-------------*/



/*-------------[ Parallax ]-------------*/
.MainContainer {
	perspective: 1px;
	transform-style: preserve-3d;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
}

.ContentContainer {
	width: 100%;
	position: relative;
	display: block;
	/*background-color: #ececec;*/
	/*background-color: #eceaf2;*/
	background-color: #e8ecef;
}
.Content {
	width: 1400px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	height: 100%;
	margin: 0 auto;
}

.ParallaxContainer {
	width: 100%;
	display: flex;
	flex: 1 0 auto;
	position: relative;
	z-index: -1;
	height: 95vh;
	justify-content: center;
	align-items: center;
	transform: translateZ(-1px) scale(2);
	background-size: 100% 100%;
	background-origin: content-box;
	background: transparent url("../img/banner10.png") no-repeat;
	/*background: -webkit-linear-gradient(left, #ede7f6, #d1c4e9);*/

}

.container-banner {
	justify-content: center;
	width: 100%;
	margin: 0 auto;
	padding: 0 0 150px;
}

.container-banner h1 {
	font-size: 45px;
}

.container-banner p {
	font-size: 20px;
}

.legacy{
	position: relative;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 700px 0 0;
	/*color: #333333;*/
	color: #ffffff;
}

@media (max-width: 1000px) {
	.Content {
		width: 550px;
	}
}

@media (max-width: 414px) {
	.Content {
		width: 375px;
	}
}

@media (max-width: 360px) {
	.Content {
		width: 350px;
	}
}
@media (max-width: 320px) {
	.Content {
		width: 320px;
	}
}
@media (max-height: 500px) {
	.container-banner {
		display: none;
	}

}/*-------------[ Parallax ]-------------*/



/*------------[ Form Arrow Input ]------------*/
input {
	outline: none;
	border: none;
}

textarea {
	outline: none;
	border: none;
}

textarea:focus, input:focus {
	border-color: transparent !important;
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;

}

.contact1-form {
	width: 390px;
}

.contact1-form-title {
	display: block;
	font-size: 24px;
	color: #333333;
	line-height: 1.2;
	text-align: center;
	padding-bottom: 44px;
	margin-top: 22px;
}

input.input1 {
	height: 50px;
	border-radius: 25px;
	padding: 0 30px;

}
input.input1 + .shadow-input1 {
	border-radius: 25px;
}

textarea.input1 {
	min-height: 150px;
	border-radius: 25px;
	padding: 12px 30px;
}
textarea.input1 + .shadow-input1 {
	border-radius: 25px;
}

.wrap-input1 {
	position: relative;
	width: 100%;
	z-index: 1;
	margin-bottom: 20px;
}

.input1 {
	display: block;
	width: 320px;
	/*background: #bdbdbd;*/
	background: rgb(246, 246, 246);
	font-size: 15px;
	line-height: 1.5;
	color: #212121;
	margin: 0 9px;
}

.shadow-input1 {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 0 0;
	color: rgba(87,184,70, 0.5);
}

.input1:focus + .shadow-input1 {
	animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
	to {
		box-shadow: 0 0 80px 30px;
		opacity: 0;
	}
}

@keyframes anim-shadow {
	to {
		box-shadow: 0 0 80px 30px;
		opacity: 0;
	}

}/*------------[ Form Arrow Input ]------------*/



/*-------------[ Button Header Enter ]-------------*/
.container-contact1-form-btn-header {
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	float: right;
	margin-right: 120px;
}

.contact1-form-btn-header {
	min-width: 120px;
	height: 30px;
	border-radius: 25px;
	background: #5efc82;
	font-size: 15px;
	line-height: 1.5;
	color: #484848;
	transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
}

.contact1-form-btn-header i {
	margin-left: 7px;
	transition: all 0.4s;
}

.contact1-form-btn-header:hover {
	background: #333333;
	color: #fff;
	box-shadow: 0 0 4px #fff, 0 0 4px #000000;
}

#btnMobile {
	display: none;
}

.contact1-form-btn-header:hover i {
	transform: translateX(10px);
}

@media (max-width: 900px) {
	.container-contact1-form-btn-header {
		opacity: 0;
		visibility: hidden;
	}

	#btnMobile {
		display: block;
	}

}/*-------------[ Button Header Enter ]-------------*/



/*-------------[ Button Arrow Enter ]-------------*/
.container-contact2-form-btn-enter {
	float: right;
	width: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 36px 40px 15px 2px;
}

.contact2-form-btn-enter {
	float: right;
	min-width: 117px;
	height: 40px;
	border-radius: 15px;
	background: #5efc82;
	font-size: 15px;
	line-height: 1.5;
	color: #484848;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 2px #fff, 0 0 2px #333333;
	transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out
}

.contact2-form-btn-enter i {
	margin-left: 7px;
	transition: all 0.4s;
}

.contact2-form-btn-enter:hover {
	background: #333333;
	color: #fff;
	box-shadow: 0 0 4px #fff, 0 0 4px #000000;
}

.contact2-form-btn-enter:hover i {
	transform: translateX(10px);

}/*-------------[ Button Arrow Enter ]-------------*/



/*------------[ Button Arrow Cancel ]------------*/
.container-contact2-form-btn-cancel {
	float: left;
	width: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 36px 2px 20px 40px;
}
.contact2-form-btn-cancel {
	min-width: 117px;
	height: 40px;
	border-radius: 15px;
	background: #cfcfcf;
	font-size: 15px;
	line-height: 1.5;
	color: #484848;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 2px #fff, 0 0 2px #000000;
	transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out
}

.contact2-form-btn-cancel:hover {
	background: #333333;
	color: #fff;
	box-shadow: 0 0 4px #fff, 0 0 4px #000000;

}/*------------[ Button Arrow Cancel ]------------*/



/*------------[ Responsive ]------------*/
@media (max-width: 1180px) {

	.contact1-form {
		width: 100%;
	}
}

@media (max-width: 992px) {
	.container-contact1 {
		padding: 90px 80px 88px 90px;
	}

	.contact1-form {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.container-contact1 {
		padding: 90px 80px 88px 80px;
	}

	.contact1-form {
		width: 100%;
	}
}

@media (max-width: 576px) {
	.container-contact1 {
		padding: 90px 15px 88px 15px;
	}

}/*------------[ Responsive ]------------*/



/*------------[ Alert Validate ]------------*/
.validate-input {
	position: relative;
}

.alert-validate::before {
	content: attr(data-validate);
	position: absolute;
	max-width: 70%;
	background-color: white;
	border: 1px solid #c80000;
	border-radius: 13px;
	padding: 4px 25px 4px 10px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 8px;
	pointer-events: none;

	color: #c80000;
	font-size: 13px;
	line-height: 1.4;
	text-align: left;

	visibility: hidden;
	opacity: 0;

	-webkit-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

.alert-validate::after {
	content: "\f06a";
	display: block;
	position: absolute;
	color: #c80000;
	font-size: 15px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 13px;
}

.alert-validate:hover:before {
	visibility: visible;
	opacity: 1;
}

@media (max-width: 992px) {
	.alert-validate::before {
		visibility: visible;
		opacity: 1;
	}

}/*------------[ Alert Validate ]------------*/

